@charset "UTF-8";

html {
  color: #444;
}

a.unstyled {
  color: #444;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

.side-nav li.active,
table.highlight > tbody > tr:hover {
  background-color: #c8e6c9;
}

.side-nav li:hover {
  background-color: #a5d6a7;
}

.dropdown-content li > a {
  color: #039be5;
}
